body {
	background-image: linear-gradient(#EFEBE9 , #3E7332);
}


.mainSection {
	margin: 10px
}

.mainSection > div.col {
	color: black;
	background-color: #EFEBE9;
	border-color: black;
	border-radius: 10px;
	border: 0px;
	border-top: 2px;
	border-left: 6px;
	border-style: solid;
}

.mainSection > div.col:hover{
	background-color: #D7CCC8;
	-moz-transition: all 500ms ease; /* Firefox */
	-webkit-transition: all 500ms ease; /* Safari and Chrome */
	-o-transition: all 500ms ease; /* Opera */
	transition: all 500ms ease;
}

.sectionTitle {
	padding: 5px;
	font-size: 150%;
	font-weight: bold;
	vertical-align: top;
	text-align: right;
}
