body {
	background-color: #DCEDC8;
}


.mainSection {
	margin: 10px
}

.mainSection > div.col {
	color: black;
	background-color: #F1F8E9;
	border-color: black;
	border-radius: 10px;
	border: 0px;
	border-top: 2px;
	border-left: 6px;
	border-style: solid;
}

.mainSection > div.col:hover{
	background-color: #D0F8E9;
	-moz-transition: all 500ms ease; /* Firefox */
	-webkit-transition: all 500ms ease; /* Safari and Chrome */
	-o-transition: all 500ms ease; /* Opera */
	transition: all 500ms ease;
}

.mainSection > div.col-2 {
	padding: 5px;
	font-size: 150%;
	font-weight: bold;
	vertical-align: top;
}
