body {
	background-color: #DCEDC8;
}


.mainSection {
	margin: 10px
}

.mainSection > div.col {
	color: black;
	background-color: #F1F8E9;
	border: 0px;
	border-color: black;
	border-radius: 10px;
	border-top: 2px;
	border-left: 6px;
}

.mainSection > div.col:hover{
	background-color: #D0F8E9
}

.mainSection > div.col-2 {
	padding: 5px;
	font-size: 150%;
	font-weight: bold;
}
